.federal-holidays {
  clear: both;
  position: absolute;
  bottom: 0;
  padding: 40px;
}

.federal-holidays hr {
  margin: 0;
}
.federal-holidays h4 {
  padding: 25px 0 0;
  float: left;
  display: block;
  font-size: 1.125em;
  font-weight: 400;
  line-height: 1.5em;
}
.federal-holidays .events {
  clear: both;
  padding-top: 20px;
}

.theme-2012 .federal-holidays {
  color: #18171c;
}

.theme-2012 .federal-holidays hr {
  border-top: 10px solid #18171c;
}

.theme-2012 .events li a {
  display: inline-block;
  line-height: 2em;
  color: #19181D;
}

.theme-2012 .events li a span {
  color: #666;
}

.theme-2012 .events li a:hover {
  cursor: pointer;
  color: #000;
}

.theme-2013 .federal-holidays {
  color: #fff;
}

.theme-2013 .federal-holidays hr {
  border-top: 10px solid #fff;
}

.theme-2013 .events li a {
  display: inline-block;
  line-height: 2em;
  color: #ccc;
}

.theme-2013 .events li a span {
  color: #666;
}

.theme-2013 .events li a:hover {
  cursor: pointer;
  color: #fff;
}

.theme-2015 .federal-holidays {
  color: #fff;
}

.theme-2015 .federal-holidays hr {
  border-top: 1px dotted #fff;
}

.theme-2015 .events li a {
  display: inline-block;
  line-height: 2em;
  color: #ccc;
}

.theme-2015 .events li a span {
  color: #3db657;
}

.theme-2015 .events li a:hover {
  cursor: pointer;
  color: #fff;
}
