body {
  background-color: #F3F4EF;
}

.searchForm {
  background-color: #15165c;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.75);
  padding: 20px;
  width: 320px;
  height: 100%;
}

.searchForm fieldset {
  border: 0;
  border-top: dotted 1px white;
  padding: 20px 0;
}

.searchForm label, .searchForm p {
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: white;
}

.searchForm input[type=text], .searchForm input[type=number] {
  font-size: 13px;
  border-radius: 4px;
  box-shadow: inset 0 2px 2px #e9e9e9;
  border: 1px solid #aeaeae;
  line-height: 16px;
  padding: 6px 10px 5px;
}

.cities .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:  "fromLabel toLabel"
                        "fromCity  toCity"
                        "oneWay    roundTrip";
  grid-column-gap: 20px;
  grid-row-gap: 10px;
}

.cities input[type=text] {
  width: 80px;
}

.cities .radiobutton {
  margin-top: 10px;
}

.dates .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:  "startLabel endLabel"
                        "startDate  endDate";
  grid-column-gap: 20px;
  grid-row-gap: 10px;
}

.dates input[type=text] {
  width: 80px;
}

.classes .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:  "firstClass       businessClass"
                        "premEconClass    econClass"
                        "showWaitlisted   showWaitlisted"
                        "showNonSaver     showNonSaver"
                        "spacer           spacer"
                        "passengersLabel  passengers";
  grid-column-gap: 20px;
  grid-row-gap: 10px;
}

.classes label {
  align-self: center;
}

.flights .checkbox, .airlines .checkbox {
  margin-top: 15px;
}
