body {
  font-feature-settings: "kern", "liga", "pnum";
  font-size: 0.85em;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 0.85em;
  line-height: 1.2;
  margin: 0 0 0.75em;
}
p {
  margin: 0 0 0.75em;
}
a {
  color: #477dca;
  text-decoration: none;
  transition: color 150ms ease;
}
a:active, a:focus, a:hover {
  color: shade(#477dca, 25%);
}
hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0;
}
img,
picture {
  margin: 0;
  max-width: 100%;
}

h1 {
  font-style: normal;
  font-size: 3.75em;
  text-transform: none;
  color: #fff;
  margin-bottom: 10px;
  strong {
    font-weight: 700;
  }
}

/*
/////////////////////////////////////////////////////////////////////////
// 2012 THEME
/////////////////////////////////////////////////////////////////////////
*/
.theme-2012 {
  color: #666;
  font-family: "raleway", sans-serif;
  color: #18171c;
}

.theme-2012 h1,
.theme-2012 h2,
.theme-2012 h3,
.theme-2012 h4,
.theme-2012 h5,
.theme-2012 h6 {
  color: #18171c;
  letter-spacing: 1px;
  font-weight: 300;
  line-height: 1.2;
}

/*
/////////////////////////////////////////////////////////////////////////
// 2013 THEME
/////////////////////////////////////////////////////////////////////////
*/
.theme-2013 {
  color: #666;
  font-family: "raleway", sans-serif;
}

.theme-2013 h1,
.theme-2013 h2,
.theme-2013 h3,
.theme-2013 h4,
.theme-2013 h5,
.theme-2013 h6 {
  letter-spacing: 1px;
  font-weight: 300;
  line-height: 1.2;
}

/*
/////////////////////////////////////////////////////////////////////////
// 2015 THEME
/////////////////////////////////////////////////////////////////////////
*/
.theme-2015 {
  color: #666;
  font-family: "proxima-nova", sans-serif;
}

.theme-2015 h1,
.theme-2015 h2,
.theme-2015 h3,
.theme-2015 h4,
.theme-2015 h5,
.theme-2015 h6 {
  letter-spacing: 1px;
  font-weight: 300;
  line-height: 1.2;
}
